$width: 768px;

:host {
    display: block;
    position: relative;
    width: 100%;
    height: 500px;
    background-color: var(--color-banner-bg);

    canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
    }

    .center {
        display: inline-block;
        position: relative;
        top: 115px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: $width;

        p {
            color: var(--color-banner-title);
            font-size: 18px;
            text-align: center;
            margin-top: 28px;
        }
    }
}
