$height: 72px;

nav {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: $height;
    box-sizing: border-box;
    background-color: var(--color-nav-bg);
    font-size: 0;
    padding-left: 16px;

    app-logo {
        line-height: $height;
    }

    .fill {
        flex: 1;
    }

    .link {
        cursor: pointer;
        display: inline-block;
        position: relative;
        height: $height;
        line-height: $height;
        padding: 0 24px;
        color: var(--color-nav-link);
        user-select: none;

        &:hover {
            background-color: var(--color-nav-link-hover);
        }

        &:active {
            background-color: var(--color-nav-link-active);
        }

        > * {
            vertical-align: top;
        }

        span {
            font-size: 16px;
        }

        .icon {
            font-size: 22px;
            margin-left: 10px;
        }

        .avatar {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-right: 8px;
            border: 1px solid white;
        }
    }
}
