<app-nav-menu #accountMenu>
    <app-nav-menu-item [wip]="true">Your account</app-nav-menu-item>
    <app-nav-menu-item [wip]="true">Settings</app-nav-menu-item>
    <app-nav-menu-separator></app-nav-menu-separator>
    <app-nav-menu-item [routerLink]="['signout']"> Sign out </app-nav-menu-item>
</app-nav-menu>

<nav>
    <div class="fill"></div>

    <div
        #accountMenuButton
        class="link"
        role="link"
        *ngIf="account.isSignedIn(); else signIn"
        (click)="showAccountMenu()"
    >
        <img
            class="avatar"
            alt="Your Github Avatar"
            [src]="github.getAvatarUrl(account.getOwnName())"
        />
        <span>{{ account.getOwnName() }}</span>
    </div>

    <ng-template #signIn>
        <div class="link" role="link" (click)="signInGithub()">
            <span>Sign in with Github</span>
            <fa-icon [icon]="faGithub" class="icon"></fa-icon>
        </div>
    </ng-template>
</nav>
